#form-conection{
    position: relative;
   /* background-color: blue;*/
    width: 400px;
    padding: 20px;
    border-radius: 20px;
    border: ;
    margin: 56px 2px 0px 2px;
}
#makeConection{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.cross-to-the-right{
    position: relative;
    margin-right: 0px;
    margin: 0px 0px 0px 347px;
    cursor: pointer;
}